#Configuration info
[Project Info]
    Project = 21619

[OemCommonCapbility]
    ForceSensorFps = 1
    SatTeleDisable = 1
    ArcsoftEisEnable = 1
    SupportQuarterBinning  = 1
    MaxSensitivityBoost = 6399
    SupportDualScene = 1
    OemAddMaxFps = TRUE
    SkipFirstFrameInNVMode = TRUE
    SkipFirstFrameInMacroMode = TRUE
    isUsedArcSoftInAinight = TRUE
    isUsedZSLPreviewBPSRaw = TRUE
    isUsedMipiRaw = FALSE
    isMFNRCHDNoSupported = TRUE
    isEnableMedasPower = FALSE
    isNeedNCS = TRUE
    ForceRearCommonModeSetting1 = TRUE
    ForceFrontCommonModeSetting1 = TRUE
    isWriteCalibrationDataToEeprom = FALSE
    HDR4SnapshotSupported = TRUE
    MFNRCHDRSingleCamSupported = TRUE
    SkipPortaitHDRPreviewFrames = TRUE
    UseOdmDistortionParams = TRUE
    RTBayer2YUVFeatureSupport = TRUE
    LimitMinHALFpsRange = 15
    DisableCtsDualCameraTest = TRUE
    FixedRawSensitivityBoost = TRUE
    isSuperNightProCropCut = TRUE
    isRectifyFDCount = TRUE
    isPrimaryCommonSetting = TRUE
    isNotSupportScalingSetting = TRUE
    isSupportHDRSkipEV0Preivew = TRUE

[SmartpoolSizeSettings]
    sizeNormal = 600

[ColorSensor]
    IsColorSensorFrontSupported = false

[Flickersensor]
    IsFlickerSensorFrontSupported = false

[OPPackageName Group]
    SystemCamera = com.oppo.camera; com.oplus.camera
    EngineerMode = com.oplus.engineercamera

[OemMaxHalRequests]
    slowVideoMaxHalRequests = 10

###LogicalCameraConfiguration begin
[LogicalCameraConfiguration]
    NumOfLogicalCamera = 5
    LogicalCamera[0] = SingleWideCameraConfiguration
    LogicalCamera[1] = SingleFrontCameraConfiguration
    LogicalCamera[2] = SingleUltraWideCameraConfiguration
    LogicalCamera[3] = SingleMono1CameraConfiguration
    LogicalCamera[4] = RTBUWWCameraConfiguration

[SingleWideCameraConfiguration]
    logicalCameraId    = 0
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleWideCameraDeviceInfo
    primarySensorID    = 0
    cameraType         = 0

[SingleWideCameraDeviceInfo]
    sensorId               = 0
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SingleFrontCameraConfiguration]
    logicalCameraId    = 1
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleFrontCameraDeviceInfo
    primarySensorID    = 2
    cameraType         = 1

[SingleFrontCameraDeviceInfo]
    sensorId               = 2
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SingleUltraWideCameraConfiguration]
    logicalCameraId    = 2
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleUltraWideCameraDeviceInfo
    primarySensorID    = 1
    cameraType         = 2

[SingleUltraWideCameraDeviceInfo]
    sensorId               = 1
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SmoothZoom]
    enableSmoothZoom              = true
    enforceOpenWideZoomValueRight = 5.1
    isDivideZoomRatio             = true

[DivideZoomRatio]
    pointZoomRatio              = 0.6;    1.0;    2.0;    5.0
    scaleThresholdRatioRange    = 0.5;    2.1;    2.1;    5.1;    5.1;    20.1
    pointScaleRatioThreshold    =     0.12;           0.15;           0.25
    commonScaleRatioThreshold   =     0.20;           0.20;           0.30
    pauseFrameNum               = 0

[SingleMono1CameraConfiguration]
    logicalCameraId    = 3
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleMono1CameraDeviceInfo
    primarySensorID    = 3
    cameraType         = 17

[SingleMono1CameraDeviceInfo]
    sensorId               = 3
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[RTBUWWCameraConfiguration]
    logicalCameraId    = 4
    logicalCameraType  = 1
    publicVisibility   = true
    numOfDevices       = 2
    deviceInfo[0]      = RTBUWCameraDeviceInfo
    deviceInfo[1]      = RTBWCameraDeviceInfo
    primarySensorID    = 0
    cameraType         = 8

[RTBUWCameraDeviceInfo]
    sensorId               = 1
    transitionZoomRatioMin = 1.0
    transitionZoomRatioMax = 2.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[RTBWCameraDeviceInfo]
    sensorId               = 0
    transitionZoomRatioMin = 2.0
    transitionZoomRatioMax = 8.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

###LogicalCameraConfiguration end

[MultiCameraUsecase]
                 #stream index map  w  uw
    LogicalCameraAPPStreamMap[4]  = 1; 0

[MultiCameraMFNRFusionSuperGraph]
    #ChiFeature2Type       HDR  DEMUX  SERIALIZER MFSR   IPE
    FeatureInstanceIgnore = 5;    23;    24;       9;     3

[UsecaseMatching]
    isSatNightUseMipiRaw = 0
    dolHdrSupporttedSensor = imx766_riven
    isUsageMatching = 1
    OpmodeFilters = 0x802C
    DisablePreviewNode = 0x8021; 0x800b

[SuperNightMode_Hand]
    #SuperNightMode_Hand need ideal raw
    idealRawEnable = TRUE
    frontidealRawEnable = FALSE

[EISNode]
    isOisSupported   = 0
    #EISTuningSensorMode   cameraId  captureMode   sensorMode
    EISTuningIndex   =       0;        0x8028;         5;         2;0x8028;1;   1;0x802B;1

[UsecaseMatching]
    UsecaseEngmodeRemosaicSFR = true

[EISTypeMatching]
    #VideoEisMode    captureMode  sensor_mask    feature_mask
    Mode[0]      =     0x800B;      0x008D;         0x0000         #COMMON VIDEO + SAT
    Mode[1]      =     0x800C;      0x000D;         0x0000         #FAST VIDEO
    Mode[2]      =     0x8021;      0xFFFF;         0x0080         #60FPS VIDEO
    Mode[3]      =     0x802B;      0xFFFF;         0x0000         #FRONT EIS VIDE
    Mode[4]      =     0x802C;      0x0001;         0x0000         #DualScene VIDEO
    Mode[5]      =     0x8031;      0x0020;         0x0000         #UNKNOWN
    Mode[6]      =     0x80A1;      0xFFFF;         0x0000         #HDR VIDEO
    Mode[7]      =     0x80A2;      0xFFFF;         0x0000         #NIHGT VIDEO
    Mode[8]      =     0x80A4;      0xFFFF;         0x0000         #MOVIE EIS
    Mode[9]      =     0x80A7;      0x0001;         0x0000         #EnhanceVideo REAR EIS
    Mode[10]     =     0x8028;      0x0005;         0x0000         #SUPER EIS

[LaserFlicker]
    IsLaserFlickerSupported = FALSE

[SecureCamera]
    #exportSecureCamera     TRUE FLASE
    exportSecureCameraFlag = TRUE



[Feature2GraphCameraIdMap]
    SingleCameraList = 0; 1; 2; 3
    #MultiCameraList  = 4
    BokehCameraList  = 4

[QuickSnapshotMatching]
    #logicalCameraId            REAR  FRONT  MACRO
    QuickSnapshotCameraIdList = 0;    1;     3;
    IgnoreZoomValue           = TRUE

[SensorQCFAModeAcquireIntervalUs]
    s5kgw1 = 55000
    imx471 = 55000

[HDR4Snapshot]
    HDRstoreFrame = 2
    HDRreprocessFrame = 4
    UnSupportCamId = 1

[ThirdAppCamRatioSensorSettingMap]
    #                                  setting index
    SENSOR_SIZE_16_9_30FPS             =   2

[ThirdAppCamSensorSettingMap]
    #                                   camera id  FPS    width    height  operation mode  setting index
    android.camera.cts[0]              =   -1;     -1;    -1;      -1;         -1;            1
    com.ss.android.ugc.aweme[0]        =    0;     30;    -1;      -1;         -1;            3
    com.ss.android.ugc.aweme[1]        =    1;     15;    -1;      -1;         -1;            1
    com.smile.gifmaker[0]              =    0;     30;    -1;      -1;         -1;            2
    com.smile.gifmaker[1]              =    1;     30;    -1;      -1;         -1;            1
    com.tencent.mm[0]                  =    0;     30;    -1;      -1;         -1;            2
    com.tencent.mm[1]                  =    1;     30;    -1;      -1;         -1;            1
    com.tencent.mobileqq[0]            =    1;     15;    -1;      -1;         -1;            2
    com.tencent.mobileqq[1]            =    0;     -1;    -1;      -1;         -1;            1
    com.tencent.wemeet.app[0]          =    1;     -1;    -1;      -1;         -1;            1
    org.codeaurora.ims[0]              =    1;     -1;    -1;      -1;         -1;            1
    com.linkedin.android[0]            =    0;     -1;    -1;      -1;         -1;            1
    com.xvideostudio.videoeditor[0]    =    0;     -1;    -1;      -1;         -1;            1
    com.alibaba.android.rimet[0]       =    0;     20;    -1;      -1;         -1;            2
    com.kuaishou.nebula[0]             =    1;     15;    -1;      -1;         -1;            1
    com.ss.android.ugc.aweme.lite[0]   =    1;     15;    -1;      -1;         -1;            1
    com.ss.android.ugc.aweme.lite[1]   =    0;     30;    -1;      -1;         -1;            1
    com.google.ar.infrastructure.compliance.imagequality[0] =  0;  -1;  -1;  -1;  -1;         1
    com.lemon.faceu[0]                 =   -1;     -1;    -1;      -1;         -1;            1
    com.campmobile.snowcamera[0]       =   -1;     -1;    -1;      -1;         -1;            1
    com.jingdong.app.mall[0]           =    0;     -1;    -1;      -1;         -1;            2
    tv.danmaku.bili[0]                 =    0;     -1;    -1;      -1;         -1;            2
    com.mt.mtxx.mtxx[0]                =   -1;     -1;    -1;      -1;         -1;            1
    com.meitu.meiyancamera[0]          =   -1;     -1;    -1;      -1;         -1;            1
    com.android.app.appops.cts[0]      =   -1;     -1;    -1;      -1;         -1;            1
    com.tencent.tim[0]                 =   -1;     -1;    -1;      -1;         -1;            1
    com.sfexpress.knight[0]            =   -1;     -1;    -1;      -1;         -1;            1
    net.evecom.android.mztapp[0]       =   -1;     -1;    -1;      -1;         -1;            1
    com.realme.link[0]                 =   -1;     -1;    -1;      -1;         -1;            1
    com.zqccloud.diandian[0]           =   -1;     -1;    -1;      -1;         -1;            1
    com.jingyao.easybike[0]            =   -1;     -1;    -1;      -1;         -1;            1
    cn.com.hkgt.gasapp[0]              =   -1;     -1;    -1;      -1;         -1;            1
    com.taobao.litetao[0]              =   -1;     -1;    -1;      -1;         -1;            1
    com.chinamworld.bocmbci[0]         =   -1;     -1;    -1;      -1;         -1;            1
    com.pingan.paces.ccms[0]           =   -1;     -1;    -1;      -1;         -1;            1
    com.qiyi.video[0]                  =   -1;     -1;    -1;      -1;         -1;            1
    com.sankuai.meituan[0]             =   -1;     -1;    -1;      -1;         -1;            1
    com.alicloud.databox[0]            =   -1;     -1;    -1;      -1;         -1;            1
    com.kting.citybao[0]               =   -1;     -1;    -1;      -1;         -1;            1
    com.baidu.passport.securitycenter[0]=  -1;     -1;    -1;      -1;         -1;            1
    com.eg.android.AlipayGphone[0]     =    0;     -1;  1584;     720;         -1;            2
    com.whatsapp[0]                    =    0;     -1;    -1;      -1;         -1;            2
    com.facebook.katana[0]             =    0;     -1;    -1;      -1;         -1;            2
    com.facebook.orca[0]               =    0;     -1;    -1;      -1;         -1;            2
    com.instagram.android[0]           =    0;     -1;    -1;      -1;         -1;            2
    com.snapchat.android[0]            =    0;     -1;    -1;      -1;         -1;            2
    com.kugou.android[0]               =    0;     -1;    -1;      -1;         -1;            1
    com.qiyi.video.lite[0]             =    0;     -1;    -1;      -1;         -1;            1
    air.tv.douyu.android[0]            =    0;     -1;    -1;      -1;         -1;            1

[SetFwkRDIStream]
    isNeeded = false

[CtsCamSensorSettingMap]
    #                  cts_mode         sensor_mask   index
    Mode[0]        =    0x0001;            0x0001;       1;

[EngineercameraConfig]
    # The size of this list should equal to m_numLogicalCameras
    engineercamera.jpeg.size.QCFA = 1; 1; 0; 0; 1;
    custom.raw.size.QCFA          = 1; 0; 0; 0; 1;

[MemGroupConfig]
    EnableIonRecycle = 1;    # IonRecycle 0:disable(def)  1:enable
    RecycleBuffSize  = 4;    # IonRecyclebuffer size(N * 10M)

[AFCapbility]
   IsDepthBasedFocus = 1;
   disableAFRoleSwitch = 1;
   forceMasterCameraId = 0;


[OemCamActuatorSettingMap]
    #operation mode     is_need_power      first_value        second_value      third_vaue  if is_need_power is 0 set other variables to 0
        Mode[0]      =     0;                 0;                 0;                0        #VCM lowerBound
        Mode[1]      =     1;                 1;                 0;                -1       #VCM upperBound
        Mode[2]      =     0;                 0;                 0;                0        #BIVCM lowerBound
        Mode[3]      =     1;                 1;                 0;                -1       #BIVCM upperBound

[ExtentSensorClks]
    #ExtentClksFlag     TRUE FALSE
    ExtentClksFlag = TRUE

[SuperNightMode_Hand]
    #SuperNightMode_Hand need ideal raw
    idealRawEnable = TRUE
    DisableResetCropInfoForCameraId = 2

[SensorAggregationsForSATPhotoMode]
    numSensorAggregations   = 9
    zoomRange               =  0.6; 1.0;    0.6; 1.0;    1.0; 2.0;    1.0; 2.0;    1.0; 2.0;    1.4; 2.0;    2.0; 10.1;    2.0; 10.1;    2.0; 10.1
    activeMap               =      1;           3;           2;           3;           3;           6;           4;            6;            6
    allowAFFallback         =    FALSE;       FALSE;       FALSE;       FALSE;       FALSE;       FALSE;       TRUE;         TRUE;         TRUE
    allowTOFFallback        =    FALSE;       FALSE;       FALSE;       FALSE;       FALSE;       FALSE;       FALSE;        FALSE;        FALSE
    allowLuxFallback        =    FALSE;       FALSE;       FALSE;       FALSE;       FALSE;       FALSE;       TRUE;         TRUE;         TRUE
    fallbacked              =    FALSE;       FALSE;       FALSE;       FALSE;       TRUE;        FALSE;       FALSE;        FALSE;        TRUE
    master                  =      0;           0;           1;           1;           0;           1;           2;            2;            1
    recommendedMaster       =      0;           0;           1;           0;           0;           1;           2;            1;            1
    recommendedActiveState  =      1;           3;           3;           3;           3;           3;           6;            6;            6

[sensorAggregationsForSATNightMode]
    numSensorAggregations   = 3
    zoomRange               =  2.0; 10.1;   2.0; 10.1;   2.0; 10.1
    activeMap               =      4;           6;           6
    allowAFFallback         =    TRUE;        TRUE;        TRUE
    allowTOFFallback        =    FALSE;       FALSE;       FALSE
    allowLuxFallback        =    TRUE;        TRUE;        TRUE
    fallbacked              =    FALSE;       FALSE;       TRUE
    master                  =      2;           2;           1
    recommendedMaster       =      2;           1;           1
    recommendedActiveState  =      6;           6;           6

[sensorAggregationsForSATVideoMode]
    numSensorAggregations   = 1
    zoomRange               =   2.0; 10.1
    activeMap               =      4
    allowAFFallback         =    FALSE
    allowTOFFallback        =    FALSE
    allowLuxFallback        =    FALSE
    fallbacked              =    FALSE
    master                  =      2
    recommendedMaster       =      2
    recommendedActiveState  =      6

[fallbackDetectThreshs]
    #luxFallback                   FallbackTriggerUpperThreshHold   FallbackTriggerLowerThreshHold   lowLightUpperThresh    lowLightLowerThresh
    luxThreshsForSATMode       =             420;                              390;                        505;                    485
    luxThreshsForSATNightMode  =             400;                              370;                        500;                    480
    luxThreshsForSATVideoMode  =             420;                              390;                        500;                    480
    #afFallback                    DetectFactor   RecoverFactor   MoveSceneWideDetectFactor   MoveSceneWideRecoverFactor   MoveSceneTeleDetectFactor   MoveSceneTelekRecoverFactor
    afThreshsForSATMode        =       1.0;           1.1;                  1.0;                       1.5;                         0.5;                        2.0
    afThreshsForSATNightMode   =       1.0;           1.1;                  1.0;                       1.5;                         0.5;                        2.0
    afThreshsForSATVideoMode   =       1.0;           1.1;                  1.0;                       1.5;                         0.5;                        2.0


[OemCamxSettings]
    #Enable/Disable HW Sync for RTB
    disablePDLibLCR = 0
    enableTOFInterface = 0
    multiCameraJPEG = 0
    multiCameraHWSyncMask = 1
    numPCRsBeforeStreamOn = 1
    #Enable/Disable Multi Camera framework kernel frame sync
    multiCameraFrameSync  = 1
    maxHalRequests = 7
    numChiThread = 10
    FDPreprocessing = 2

###BokehConfigureInformation begin
[BokehConfigureInformation]
    RearBokehImgSizeList[hi846 x s5kgw1]           = 4608; 3456; 2304; 1728
    RWMCaliSize = 4096
    RWMDualCaliPath   = /mnt/vendor/persist/camera/dual_calibration/stereoParams.bin
    RWTDualCaliPath   = /mnt/vendor/persist/camera/mtStereoParams.bin
    RWMDualCaliPathAS = /mnt/vendor/persist/camera/mwStereoParams_aftersale.bin
    RWTDualCaliPathAS = /mnt/vendor/persist/camera/mtStereoParams_aftersale.bin
###BokehConfigureInformation end

[OemCamSensorSettingMap]
    #operation mode     operation_mode     sensor_mask        feature_mask      index
    Mode[0]         =     0x8001;            0x0001;            0x0004;           1  #COMMON REAR
    Mode[1]         =     0x8001;            0x0004;            0x0004;           0  #COMMON REAR_AUX
    Mode[2]         =     0x800B;            0x0001;            0x0000;           2  #COMMON VIDEO
    Mode[3]         =     0x800B;            0x0004;            0x000C;           0  #COMMON VIDEO SAT REAR_AUX
    Mode[4]         =     0x8011;            0x0001;            0x0000;           4  #FULL PORTRAIT REAR
    Mode[5]         =     0x8011;            0x0004;            0x0000;           5  #FULL PORTRAIT REAR_AUX
    Mode[6]         =     0x8009;            0x0001;            0x0000;           1  #Professional REAR
    Mode[7]         =     0x8009;            0x0004;            0x0000;           0  #Professional REAR_AUX
    Mode[8]         =     0x8007;            0x0001;            0x0000;           1  #Panorama REAR
    Mode[9]         =     0x8019;            0x0001;            0x0000;           1  #SN SAT REAR
    Mode[10]        =     0x8019;            0x0004;            0x0000;           0  #SN SAT REAR_AUX
    Mode[11]        =     0x8028;            0x0004;            0x0000;           0  #SUPER EIS REAR_AUX
    Mode[12]        =     0x8028;            0x0001;            0x0000;           3  #SUPER EIS REAR
    Mode[13]        =     0x800C;            0x0001;            0x000C;           2  #FastVideo EIS SAT REAR
    Mode[14]        =     0x800C;            0x0004;            0x000C;           0  #FastVideo EIS SAT REAR_AUX
    Mode[15]        =     0x800B;            0x0020;            0x0000;           0  #COMMON VIDEO FRONT_AUX
    Mode[16]        =     0x800B;            0x0004;            0x0008;           0  #COMMON VIDEO BOKEH REAR_AUX
    Mode[17]        =     0x80A6;            0x0004;            0x0000;           3  #SUPER MACRO
    Mode[18]        =     0x80A8;            0x0001;            0x0000;           1  #STAR MODE  REAR
    Mode[19]        =     0x80A5;            0x0001;            0x0000;           2  #FAST Motion VIDEO
    Mode[20]        =     0x80A5;            0x0004;            0x0000;           1  #FAST Motion VIDEO WIDE
    Mode[21]        =     0x802C;            0x0001;            0x0000;           1  #DualScene VIDEO REAR
    Mode[22]        =     0x802C;            0x0002;            0x0000;           1  #DualScene VIDEO FRONT
    Mode[23]        =     0x80A3;            0x0001;            0x0000;           1  #MOVIE VIDEO
    Mode[24]        =     0x80A3;            0x0004;            0x0000;           0  #MOVIE VIDEO WIDE
    Mode[25]        =     0x80A4;            0x0001;            0x0000;           1  #MOVIE VIDEO EIS
    Mode[26]        =     0x80A4;            0x0004;            0x0000;           0  #MOVIE VIDEO EIS WIDE


[AECCapbility]
    #OemCamAECControlVendorID  0:OPPO, 1:realme
    OemCamAECControlVendorID = 1
    #OemLightIntensityAssitAEC  enable   samplingRate   reportRate
    OemLightIntensityAssitAEC =   0;         104;          10000


[EngCamSensorSettingMap]
    #                  operation_mode   sensor_mask   feature_mask   index
    Mode[0]        =      0x0;            0xFFFF;        0x0000;       0;
    Mode[1]        =      0x0;            0x0001;        0x0000;       1;
    Mode[2]        =      0x0;            0x0002;        0x0000;       1;
    Mode[3]        =      0x0;            0x0001;        0x0010;       1;
    Mode[4]        =      0x802a;         0x0001;        0x0000;       1;
    Mode[5]        =      0x9001;         0x0001;        0x0000;       4;
    Mode[6]        =      0x9001;         0x0004;        0x0000;       5;
    Mode[7]        =      0x802a;         0x0002;        0x0000;       0;

[OemPDAFCalib]
    isOemPDAFCalib = FALSE

[QuickShutterFrameCount]
    EarlyFrameCount = 2

[SmartPoolMatching]
#Mode            captureMode  sensor_mask
Mode[0]      =     0x800D;      0xFFFF       #SLOW VIDEO MODE
Mode[1]      =     0x800B;      0xFFFF       #COMMON VIDEO MODE

[OemFpsRangeSettingMap]
    #                     fps_head     fps_tail
    OemFpsRange[0] =         7 ;          30 ;
    OemFpsRange[1] =        15 ;          15;
    OemFpsRange[2] =        15 ;          20;
    OemFpsRange[3] =        20 ;          20;
    OemFpsRange[4] =        30 ;          30;

[PerfSceneMatching]
    #operation mode     operation_mode     sensor_mask        feature_mask         value
    Mode[0]         =     0x8028;            0xFFFF;           0x0000;              42         #commonVideo Mode-PERF_ID_CAMERA_VIDEO_FHD60
    Mode[1]         =     0x80A5;            0xFFFF;           0x0000;              42         #FastVideo Mode-PERF_ID_CAMERA_VIDEO_FHD60
    Mode[2]         =     0x80A4;            0xFFFF;           0x0000;              42         #Movie video Mode-PERF_ID_CAMERA_VIDEO_FHD60
    Mode[3]         =     0x80A3;            0xFFFF;           0x0000;              42         #Movie video Mode-PERF_ID_CAMERA_VIDEO_FHD60
    Mode[4]         =     0x800E;            0x0001;           0x0000;              52         #Stiker video Mode-PERF_ID_CAMERA_STIKER_RECORD
    Mode[5]         =     0x80A7;            0x0001;           0x0000;              57         #Stiker video Mode-PERF_ID_CAMERA_STIKER_RECORD

[ThirdAppPerfSceneMatching]
    #                                   camera id  FPS    width    height  operation mode   value
    com.tencent.mm[0]                  =    -1;     -1;    -1;      -1;         -1;            53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER
    com.tencent.mm[1]                  =    -1;     -1;    -1;      -1;         -1;            53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER
    com.tencent.mobileqq[0]            =     0;     30;    -1;      -1;         -1;            53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER
    com.tencent.mobileqq[1]            =    -1;     15;    -1;      -1;         -1;            53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER
    com.smile.gifmaker[0]              =    -1;     15;    -1;      -1;         -1;            53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER
    com.smile.gifmaker[1]              =    -1;     30;    -1;      -1;         -1;            58         #commonVideo Mode-PERF_ID_CAMERA_VIDEO_GIFMAKER_REAR
    com.whatsapp[0]                    =     1;     -1;   640;     480;         -1;            53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER
    com.kuaishou.nebula[0]             =     1;     15;    -1;      -1;         -1;            53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER
    com.ss.android.ugc.aweme.lite[0]   =     1;     15;    -1;      -1;         -1;            53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER
    com.lemon.faceu[0]                 =    -1;     -1;    -1;      -1;         -1;            53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER
    com.mt.mtxx.mtxx[0]                =    -1;     -1;    -1;      -1;         -1;            53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER
    com.campmobile.snowcamera[0]       =    -1;     -1;    -1;      -1;         -1;            53         #commonVideo Mode-PERF_ID_CAMERA_3RD_PARTY_LOW_POWER

[ProfessionModeSetParam]
    # APP set ISO and exposureTime value range
    #                          ISO_min    ISO_max    S_min    S_max
      ISOAndExposureTimeRange =  100;       6400;      125000;  32000000

[SupportedImageSizes]
    #                   width   height
    ImageSizes[0]   =   8000;   6000
    ImageSizes[1]   =   8000;   3600
    ImageSizes[2]   =   7680;   4320
    ImageSizes[3]   =   6000;   6000
    ImageSizes[4]   =   4608;   3456
    ImageSizes[5]   =   4608;   2592
    ImageSizes[6]   =   4608;   2080
    ImageSizes[7]  =    4000;   3000
    ImageSizes[8]  =   4000;   2250
    ImageSizes[9]  =   4000;   1818
    ImageSizes[10]  =   4000;   1800
    ImageSizes[11]  =   3840;   2160
    ImageSizes[12]  =   3840;   1644
    ImageSizes[13]  =   3456;   3456
    ImageSizes[14]  =   3456;   2592
    ImageSizes[15]  =   3264;   2448
    ImageSizes[16]  =   3264;   1836
    ImageSizes[17]  =   3200;   2400
    ImageSizes[18]  =   3200;   1440
    ImageSizes[19]  =   3000;   3000
    ImageSizes[20]  =   2592;   1944
    ImageSizes[21]  =   2520;   1080
    ImageSizes[22]  =   2448;   2448
    ImageSizes[23]  =   2400;   1080
    ImageSizes[24]  =   2328;   1746
    ImageSizes[25]  =   2328;   1748
    ImageSizes[26]  =   2592;   1168
    ImageSizes[27]  =   2304;   1728
    ImageSizes[28]  =   2304;   1296
    ImageSizes[29]  =   2304;   1046
    ImageSizes[30]  =   2160;   1080
    ImageSizes[31]  =   1944;   1944
    ImageSizes[32]  =   1920;   1440
    ImageSizes[33]  =   1920;   1080
    ImageSizes[34]  =   1920;   864
    ImageSizes[35]  =   1600;   1200
    ImageSizes[36]  =   1600;   800
    ImageSizes[37]  =   1600;   720
    ImageSizes[38]  =   1584;   720
    ImageSizes[39]  =   1440;   1080
    ImageSizes[40]  =   1280;   960
    ImageSizes[41]  =   1280;   768
    ImageSizes[42]  =   1024;   768
    ImageSizes[43]  =   1280;   720
    ImageSizes[44]  =   1200;   1200
    ImageSizes[45]  =   1188;   540
    ImageSizes[46]  =   1200;   540
    ImageSizes[47]  =   1080;   1080
    ImageSizes[48]  =   960;   1080
    ImageSizes[49]  =   960;    960
    ImageSizes[50]  =   960;    720
    ImageSizes[51]  =   800;    400
    ImageSizes[52]  =   792;    360
    ImageSizes[53]  =   720;    540
    ImageSizes[54]  =   720;    480
    ImageSizes[55]  =   640;    640
    ImageSizes[56]  =   640;    480
    ImageSizes[57]  =   352;    288
    ImageSizes[58]  =   320;    240
    ImageSizes[59]  =   176;    144

[IPENode]
    #                         left  top  width  heith
    CropWindowForSuperPhoto =  0;    0;   9216;  6912
    # DisableResetCropInfoForNightMode: TRIPOD(1), HAND(2 3 4), DARKSIGHT(5), FRONTNIGHT(6)
    DisableResetCropInfoForNightMode = 2; 3; 4; 5; 6

[OrmsConfig]
    # ThirdApp Orms Enable config
    UseOrmsForThirdApp = false
    UseOrmsSenceForThirdApp = true

[OemFDAttrEnableMap]
    #                  operation_mode   sensor_mask
    Mode[0]        =      0x8001;            0x0002;
    Mode[1]        =      0x800E;            0xFFFF;
    Mode[2]        =      0x800B;            0xFFFF;
    Mode[3]        =      0x8019;            0x0002;
    Mode[4]        =      0x8019;            0x0020;
    Mode[5]        =      0x8011;            0x0002;
    Mode[6]        =      0x802B;            0x0002;
    Mode[7]        =      0x8002;            0x0002;

[OemFDSelect]
    Is3rdApkUsePlatformFD = true

[ArcsoftAfterSaleCalibration]
    useBackUpCalibrationData = TRUE
    binCount                 = 3

[NormalNight]
    NormalNightSupported = TRUE

[FDNodeConfig]
    isDisableBokehSlavex2[42] = true

[AIAFTouch2track]
    #                  operation_mode     sensor_mask
    Mode[0]         =     0x800B;            0x0001         #COMMON VIDEO REAR
    Mode[1]         =     0x8021;            0x0001         #60FPS VIDEO REAR
    Mode[2]         =     0x80A7;            0x0001         #EnhanceVideo VIDEO REAR
    Mode[3]         =     0x8028;            0x0001         #SUPER EIS REAR

[SuperEISConfig]
    SuperEisUseICA = FALSE

[DualSceneVideoEISConfig]
    DualSceneVideoEis = FALSE

[Video4K60FPSNodeConfig]
    supportOplusView = false

[OemMfnrConfig]
    EnablePublishMfnrInfo = true
    EnableCouplehdrAnchorSelect = true

[CamThreadOptConfig]
    SupportModeList = 0x8001; 0x800B; 0x8021; 0x8011; 0x800D; 0x1

[PinFiles]
    so[0]=/vendor/lib64/com.qti.feature2.gs.bitra.so;
    so[1]=/vendor/lib64/com.qti.feature2.anchorsync.bitra.so;
    so[2]=/vendor/lib64/com.qti.feature2.demux.bitra.so;
    so[3]=/vendor/lib64/com.qti.feature2.frameselect.bitra.so;
    so[4]=/vendor/lib64/com.qti.feature2.fusion.bitra.so;
    so[5]=/vendor/lib64/com.qti.feature2.generic.bitra.so;
    so[6]=/vendor/lib64/com.qti.feature2.hdr.bitra.so;
    so[7]=/vendor/lib64/com.qti.feature2.memcpy.bitra.so;
    so[8]=/vendor/lib64/com.qti.feature2.mfsr.bitra.so;
    so[9]=/vendor/lib64/com.qti.feature2.qcfa.bitra.so;
    so[10]=/vendor/lib64/com.qti.feature2.rawhdr.bitra.so;
    so[11]=/vendor/lib64/com.qti.feature2.rt.bitra.so;
    so[12]=/vendor/lib64/com.qti.feature2.serializer.bitra.so;
    so[13]=/vendor/lib64/com.qti.feature2.stub.bitra.so;
    so[14]=/vendor/lib64/com.qti.feature2.swmf.bitra.so;
    so[15]=/vendor/lib64/libipebpsstriping.so;
    so[16]=/vendor/lib64/camera/components/com.qti.stats.hafoverride.so;
    so[17]=/vendor/lib64/libcamxifestriping.so;
    so[18]=/vendor/lib64/libcamxswprocessalgo.so;
    so[19]=/vendor/lib64/libipebpsstriping.so;
    so[20]=/vendor/lib64/camera/components/com.qti.stats.pdlib.so;

[StabilityDebug]
    isNeedWatchTimeoutEnable = TRUE
    #Trigger SOF WatchDog Timeout Threshold       operation_mode  is_realtime_pipeline   threshold
    watchDogTimeoutThreshold[0]               =      0x8001;              1;                 2           #10bit

[SupportedImageSizesGSI]
#                    width  height
    ImageSizes[0]  =  4608; 3456
    ImageSizes[1]  =  4000; 3008
    ImageSizes[2]  =  4000; 3000
    ImageSizes[3]  =  3840; 2160
    ImageSizes[4]  =  3280; 2464
    ImageSizes[5]  =  3264; 2448
    ImageSizes[6]  =  3000; 3000
    ImageSizes[7]  =  3008; 3008
    ImageSizes[8]  =  2880; 2160
    ImageSizes[9]  =  2592; 1944
    ImageSizes[10] =  2328; 1748
    ImageSizes[11] =  2304; 1152
    ImageSizes[12] =  2160; 1080
    ImageSizes[13] =  1920; 1080
    ImageSizes[14] =  1600; 1200
    ImageSizes[15] =  1440; 1080
    ImageSizes[16] =  1280; 960
    ImageSizes[17] =  1280; 720
    ImageSizes[18] =  1080; 1080
    ImageSizes[19] =   720; 480
    ImageSizes[20] =   640; 640
    ImageSizes[21] =   640; 480
    ImageSizes[22] =   352; 288
    ImageSizes[23] =   320; 240
    ImageSizes[24] =   176; 144

[SupportedThumbnailSizesGSI]
#                       width  height
    ThumbnailSizes[0]  =    0; 0
    ThumbnailSizes[1]  =  176; 144
    ThumbnailSizes[2]  =  240; 120
    ThumbnailSizes[3]  =  213; 160
    ThumbnailSizes[4]  =  240; 144
    ThumbnailSizes[5]  =  256; 144
    ThumbnailSizes[6]  =  240; 160
    ThumbnailSizes[7]  =  256; 154
    ThumbnailSizes[8]  =  246; 184
    ThumbnailSizes[9]  =  250; 188
    ThumbnailSizes[10] =  352; 160
    ThumbnailSizes[11] =  240; 240
    ThumbnailSizes[12] =  320; 180
    ThumbnailSizes[13] =  400; 180
    ThumbnailSizes[14] =  320; 240

[SupportSkipFd]
    #VideoMode      captureMode         skip_count    bindcore
    Mode[0]      =     0x800B;              3;         0        #COMMON VIDEO + SAT
    Mode[1]      =     0x802C;              3;         0        #Dual VIDEO
    Mode[2]      =     0x8019;              3;         1        #SUPER NIHGT
    Mode[3]      =     0x8001;              2;         1        #COMMON

[Video4K30FPSConfig]
    #The value of ImageStableType: 0: EIS   1:OIS   2:Only_EISv2
    ImageStableType = 2