on post-fs-data
    mkdir /data/vendor/camera_update 0777 camera camera
    write /data/vendor/camera_update/reservetuningbin0 ""
    write /data/vendor/camera_update/reservetuningbin1 ""
    write /data/vendor/camera_update/reservetuningbin2 ""
    write /data/vendor/camera_update/reservetuningbin3 ""
    write /data/vendor/camera_update/reservetuningbin4 ""
    write /data/vendor/camera_update/reservetuningbin5 ""
    write /data/vendor/camera_update/reservetuningbin6 ""
    write /data/vendor/camera_update/reservetuningbin7 ""
    write /data/vendor/camera_update/reservetuningbin8 ""
    write /data/vendor/camera_update/reservetuningbin9 ""
    write /data/vendor/camera_update/reservetuningbin10 ""
    write /data/vendor/camera_update/reservetuningbin11 ""
    write /data/vendor/camera_update/reservetuningbin12 ""
    write /data/vendor/camera_update/reservetuningbin13 ""
    write /data/vendor/camera_update/reservetuningbin14 ""
    write /data/vendor/camera_update/reservetuningbin15 ""
    write /data/vendor/camera_update/reservetuningbin16 ""
    write /data/vendor/camera_update/reservetuningbin17 ""
    write /data/vendor/camera_update/reservetuningbin18 ""
    write /data/vendor/camera_update/reservetuningbin19 ""
    chmod 0666 /data/vendor/camera_update/reservetuningbin0
    chmod 0666 /data/vendor/camera_update/reservetuningbin1
    chmod 0666 /data/vendor/camera_update/reservetuningbin2
    chmod 0666 /data/vendor/camera_update/reservetuningbin3
    chmod 0666 /data/vendor/camera_update/reservetuningbin4
    chmod 0666 /data/vendor/camera_update/reservetuningbin5
    chmod 0666 /data/vendor/camera_update/reservetuningbin6
    chmod 0666 /data/vendor/camera_update/reservetuningbin7
    chmod 0666 /data/vendor/camera_update/reservetuningbin8
    chmod 0666 /data/vendor/camera_update/reservetuningbin9
    chmod 0666 /data/vendor/camera_update/reservetuningbin10
    chmod 0666 /data/vendor/camera_update/reservetuningbin11
    chmod 0666 /data/vendor/camera_update/reservetuningbin12
    chmod 0666 /data/vendor/camera_update/reservetuningbin13
    chmod 0666 /data/vendor/camera_update/reservetuningbin14
    chmod 0666 /data/vendor/camera_update/reservetuningbin15
    chmod 0666 /data/vendor/camera_update/reservetuningbin16
    chmod 0666 /data/vendor/camera_update/reservetuningbin17
    chmod 0666 /data/vendor/camera_update/reservetuningbin18
    chmod 0666 /data/vendor/camera_update/reservetuningbin19