service oplus.engcamera-1-0 /odm/bin/hw/vendor.oplus.hardware.engcamera@1.0-service
    class hal
    user system
    group system
    interface vendor.oplus.hardware.engcamera@1.0::IEngCamera default
